flask/project/__pycache__/
cpp/clonegraph/.vs/clonegraph/v16/.suo
cpp/clonegraph/.vs/
cpp/clonegraph/clonegraph/Debug/
cpp/clonegraphnorec/.vs/
cpp/clonegraphnorec/Debug
cpp/clonegraph/Debug/clonegraph.pdb
cpp/clonegraph/Debug/clonegraph.ilk
cpp/clonegraph/Debug/clonegraph.exe
cpp/clonegraph/clonegraph/clonegraph.vcxproj.user
cpp/clonegraph/clonegraph/clonegraph.vcxproj.filters
cpp/clonegraphnorec/clonegraphnorec/Debug/
cpp/clonegraphnorec/clonegraphnorec/clonegraphnorec.vcxproj.filters
cpp/clonegraphnorec/clonegraphnorec/clonegraphnorec.vcxproj.user
devices/humtemp.py
devices/__pycache__/
cpp/minknightmoves/x64/
cpp/minknightmoves/minknightmoves/x64/
cpp/minknightmoves/minknightmoves/Debug/
cpp/minknightmoves/Debug/
cpp/minknightmoves/.vs/
cpp/minknightmoves/minknightmoves/minknightmoves.vcxproj.filters
cpp/minknightmoves/minknightmoves/minknightmoves.vcxproj.user
devices/.nvimlog
